# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.sqlite3

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
*.env
!requirements.txt

# Logs
*.log
